*{margin:0;padding:0;font-family: "MicroSoft YaHei";box-sizing:border-box;}
html,body,#main{width:100%;height:100%;}
.main{min-height:100%;background: url('../img/bg.jpg');background-attachment:fixed;}
a{text-decoration: none;color:#654321}
button{box-shadow: 1px 1px 5px #654321;margin:0 2px;border:none;transition:.2s;border-radius: 5px}
button:hover{background:#654321;color:white;padding:10px!important;z-index:20;cursor: pointer}

.loading-icon{position:absolute;left:50%;top:20%;margin-left:-25px}
/* 左侧导航 */
nav{text-align:center;line-height:40px;font-size:18px;}
nav ul{width:100%;list-style:none}
nav li{transition: .5s}
nav li:hover{color:black;}
.logo{width:40px;height:40px;}
.nav{height:100%;width:150px;background:rgba(101,67,33,.8);position:fixed;z-index:100;left:0;top:0;display:flex;justify-content:center}
.nav-list{margin-top:50px;}
.nav-list a{color:#fff}
.nav-list a:nth-of-type(1){color:#654321;}
.nav-list-bottom{position:absolute;width:150px;bottom:50px;left:0;text-align: center}
.nav-list-bottom a{color:#fff}
.sign-button-group{position:fixed;right:10px;top:2px;z-index:101}
.sign-button-group button{border:none;padding:10px;}
.alert{position: fixed;left:150px;top:0}
.activeClass li{background:#8d7155;color:black;}

@media screen and (max-width:768px){
	.nav{position:fixed;bottom:0;top:auto;width:100%;height:3em}
	nav ul{display: flex;line-height:3em;justify-content:space-around}
	.nav-list>a:nth-of-type(1){position:fixed;top:0;left:0;width:100%;line-height:1;background:rgba(101,67,33,.8);text-align: left;}
	.nav-list{margin:0}
	.activeClass li{background:none;}
	.activeClass a:focus{background: none}
	.nav-list-bottom{position:static;width:auto}
	.nav-list-bottom{color:white}
	.nav-list span{visibility: hidden}
	.nav-posts li{background:url("../img/post n.png") no-repeat center;background-size: 50px 50px}
	.nav-talk li{background:url("../img/talk (1).png") no-repeat center;background-size: 25px 25px}
	.nav-about li{background:url("../img/about.png") no-repeat center;background-size: 36px 36px}
	.nav-list-bottom li{background:url("../img/write.png") no-repeat center;background-size: 25px 25px}
	.actPosts li{background:url("../img/icon post.png") no-repeat center;background-size: 35px 35px}
	.actTalk li{background:url("../img/talk.png") no-repeat center;background-size: 25px 25px}
	.actAbout li{background:url("../img/about (1).png") no-repeat center;background-size: 36px 36px}
	.actWrite li{background:url("../img/write (1).png") no-repeat center;background-size: 25px 25px}
}
/* 登录注册页面 */
.signInput{width:40%;margin:0 auto}
.signInput input{width:100%;margin:5px 0;border-radius: 5px;border:none;padding:5px;transition:.2s}
.signInput input:hover{box-shadow: 0 0 5px #654321;transform:scale(1.1)}
.signInput input:focus{box-shadow: 0 0 5px #654321;transform:scale(1.1);border:none;outline:none}
.input-check{font-size:12px;color:red}
@media screen and (max-width:768px){
	.signInput{width:70%}
}
/* 右侧内容区域 */
.main-right{padding-left:150px;padding-top:40px;}
.main-right .container{width:70%;margin:0 auto;padding:15px 0;position: relative;}
@media screen and (max-width:768px){
	.main-right{padding-left:0}
	.main-right .container{width:95%}
}

.manager-btn{float:right;border:none;padding:4px 5px}
/* 文章样式 */
.post{box-shadow: 0 0 10px lightgray;padding:15px;border-radius: 5px 5px;transition:.2s;margin-bottom:15px}
.post .post-head{text-align: center;margin:10px 0 5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.post .createTime{font-size:12px;line-height:24px}
.createTime button{font-size:12px}
.post .content{font-size:16px;margin:15px 0;}
.post .comments-list{margin-bottom:5px;font-size:14px}
.post .clickGood{cursor: pointer;}
/* 文章内容样式 */
.content{padding:2px}
.content h2{padding-bottom: 0.3em;font-size: 1.5em;border-bottom: 1px solid #654321;margin-bottom: 16px;font-weight: 600;line-height: 1.25;}
.content p{margin-bottom: 16px;}
.content ul{padding-left: 1em;margin-bottom: 16px;list-style:auto;}
.content pre{padding:5px;overflow-x: auto;font-size: 85%;line-height: 1.45;background-color: rgba(255,255,255,.4);border-radius: 3px;margin-bottom:16px;}
/* 主页时文章的样式 */
.posts-list .post-head{text-align:left;}
.posts-list .post:hover{box-shadow: 0 5px 10px #654321;transform:translate(0,-5px)!important;background:rgba(255,255,255,.5)}
.posts-list .content{height:64px;overflow: hidden;position:relative;}.posts-list .content::after {content: " ... "; bottom:0px;right:  3px;position: absolute;}
/* 输入框 */
textarea{background:rgba(255,255,255,.5);width:100%;padding:10px;border:none;transition: .2s;resize:none}
textarea:hover{box-shadow: 0 0 5px #654321;transform:scale(1.01);border-radius: 10px}
textarea:focus{box-shadow: 0 0 5px #654321;transform:scale(1.01);border-radius: 10px;border:none;outline:none}
.input-area button{font-size:14px;padding:3px 5px;}
input{background:rgba(255,255,255,.5);}
/* 评论 */
.aComment{position:relative;font-size:14px;margin:5px 0;padding-right:35px}
.aComment .comment-user{color:#654321}
.aComment .comment-content{color:gray}
.aComment button{position: absolute;right:0;top:0;font-size:12px;padding:2px}
/* 发表页面 */
.write-post h3{margin-bottom:5px;}
.write-post #head{margin: 5px 0;width:100%;border-radius: 2px;border:1px solid lightgray;transition:.2s;padding:5px;}
.write-post #head:hover{box-shadow: 0 0 5px #654321}
.write-post textarea{resize:auto;height:200px}

/* 敬请期待 */
.please-wait{text-align: center;font-size:20px}

/* 聊天 */
.talkroom .message-box{position:fixed;width:60%;max-height: 70%;overflow-x: auto;padding:0 5px}
.message-box .message{margin-bottom:15px;}
.message-head{color:#666}
.message-head .message-name{font-weight: bold}
.message-head .message-time{font-size:12px;margin:0 5px}
.talkroom .talk-input-group{position: fixed;top:80%;width:60%;z-index:10}
.talk-input-group .talk-input{width:90%;margin:5px 0;border-radius: 5px;border:none;padding:5px;transition:.2s}
.talk-input-group .talk-input:hover{box-shadow: 0 0 5px #654321}
.talk-input-group .talk-input:focus{box-shadow: 0 0 5px #654321;border:none;outline:none}
.self .message-name{float:right}
.self .message-time{float:right}
.self .message-content{float:right;}
.self:after{content:" ";display:block;clear:both}
.showAll{cursor:pointer}
@media screen and (max-width:768px){
	.talkroom .message-box{width:95%;padding:0 15px;height:90%}
	.talkroom .talk-input-group{width:100%}
	.talk-input-group .talk-input{width:80%}
	.talk-submit{background:#654321;color:white;padding:5px 10px!important;z-index:20;cursor: pointer}
	.talkroom .talk-input-group{top:auto;bottom:4em;}
	.talkroom .message-box{max-height:100%;padding-bottom:5.5em}
}

