*{margin:0;padding:0;}
button{cursor: pointer}
body{background: url("../images/178.jpg") center top no-repeat;}
/*页眉*/
/*.game为页眉的两个二级菜单*/
header{height:43px;line-height:43px;background:rgba(2,25,72,.3);display: flex;justify-content: center;position:relative;z-index:30;}
header>div{display:flex;padding:0 20px;width:100%;}
header>div>#link1{display:inline-block;height:44px;width:44px;background:url("../images/1.png") -1px -3px no-repeat;}
header .game{list-style: none;}
header .game>li:first-child>a{margin:0 10px;text-decoration:none;color:white;}
header .game>li:first-child>a>span{display:inline-block;width:16px;height:14px;background: url("../images/3.png") -66px -255px no-repeat;margin-left:10px;}
header .game .u2{width:357px;height:232px;display:flex;flex-wrap: wrap;list-style: none;box-shadow: 1px 1px 10px black;position:absolute;}
header .game .u2>li{width:119px;height:115px;outline: 1px solid gray;background:#272e3b;}
header .game .u2>li>a{text-decoration:none;color:white;text-align:center;font-size: 13px;}
header .game .u2>li>a>div{width:70px;height:70px;margin:10px auto 0;}
header .game .u2>li:nth-child(1)>a>div{background:url("../images/2.png") -1px -1px no-repeat;}
header .game .u2>li:nth-child(2)>a>div{background:url("../images/2.png") -70px -1px no-repeat;}
header .game .u2>li:nth-child(3)>a>div{background:url("../images/2.png") -142px -1px no-repeat;}
header .game .u2>li:nth-child(4)>a>div{background:url("../images/2.png") -211px -1px no-repeat;}
header .game .u2>li:nth-child(5)>a>div{background:url("../images/2.png") -280px -1px no-repeat;}
header .game .u2>li:nth-child(6)>a>div{background:url("../images/2.png") -351px -1px no-repeat;}

header .game>li:nth-child(2){display: none;}
header .game:hover>li:nth-child(2){display: block}
header .game:first-of-type .u2>li:hover{transition:background .1s linear;background:#313844 ;}

header>div #store{text-decoration:none;color:white;}

header .right{margin-left:1550px;display:flex;position:relative;}
header .right>a:first-child{text-decoration:none;color:white;margin-right:20px;}

header .right #passID .u2{position:absolute;width:200px;height:103px;left:-20px;}
#passID .u2>li{width:200px;height:auto;text-align: center;line-height: 58px;}
#passID .u2>li:first-child>button{width:170px;height:34px;background:#098cc8;color:white;border:none;}
#passID .u2>li:nth-child(2){height:42px;text-align: left;line-height: 10px;}
#passID .u2>li:nth-child(2)>a>span{display:inline-block;width:24px;height:24px;background:url("../images/4.png") -96px -120px no-repeat;}

#passID .u2>li:first-child>button:hover{background:deepskyblue}
#passID .u2>li:nth-child(2):hover{transition:background .1s linear;background:#313844 ;}
/*导航*/
nav{width:1863px;height:72px;margin:0 auto;margin-top:20px;display:flex;background:rgba(40,53,79,.9);position:relative;z-index:2;}
nav>a{background:black;}
nav>a>img{padding:5px 10px}
nav>ul{display: flex;align-items: center;list-style: none;}
nav>ul>li>a{padding:28px 37px;text-decoration:none;color:white;}
nav>ul>li:last-child{margin-left:696px}
nav>ul>li:last-child>a{background:#f7931e}

nav>.nav>li:nth-of-type(4)>a{background: linear-gradient(to bottom,#253F62,#21769F);}

nav>ul>li:hover:not(:nth-of-type(4))>a:not(#last){background:rgba(220,220,220,.1);transition: background .1s linear;}

/*新闻*/
.news-center{width:1190px;margin:0 auto;margin-top:50px;}
.news-center>.news-top{height:540px;display:flex;flex-wrap: wrap;justify-content: space-around;border-bottom:2px solid rgba(255, 255, 255, 0.298039);padding-bottom:20px;}
.news-center>.news-top>a{display:inline-block;height:249px;}
.news-center>.news-top .news-imp{width:265px;height:243px;border:3px solid rgba(211,211,211,.5);position:relative;}
.news-center>.news-top .news-imp>img{width:100%;height:243px;}
.news-center>.news-top .news-imp>figcaption{width:100%;position: absolute;bottom:0;line-height: 24px;background: rgba(0,0,0,.75);}
.news-center>.news-top .news-imp>figcaption>h2{padding:15px 20px;color:white;font-size: 18px;font-style:italic}
.news-center>.news-top>a:nth-of-type(1)>.news-imp{width:563px;}
.news-center>.news-top>a:last-child>.news-imp{width:563px;}
.news-center>.news-top>a:nth-of-type(2) .play-white{position:absolute;z-index:2;width:50px;height:50px;left:109px;top:57px;}
.news-center>.news-top>a:nth-of-type(2) .play-yellow{position:absolute;z-index:2;width:50px;height:50px;left:109px;top:57px;}
.news-center>.news-top>a:nth-of-type(6) .play-white{position:absolute;z-index:2;width:50px;height:50px;left:260px;top:75px;}
.news-center>.news-top>a:nth-of-type(6) .play-yellow{position:absolute;z-index:2;width:50px;height:50px;left:260px;top:75px;}

.news-center>.news-top .news-imp:hover{border:3px solid white;}
.news-center>.news-top .news-imp:hover .play-yellow{z-index:1}
/*新闻详情*/
.news-details{display:flex;flex-direction: column;align-items: center}
.news-details>.news{width:1160px;height:131px;padding:20px 15px;border-bottom:1px solid rgba(255, 255, 255, 0.0980392);display:flex;}
.news-details>.news>a>img{width:257px;height:128px;border:3px solid rgba(255, 255, 255, 0.247059);margin-right:10px; }
.news-details>.news>figcaption{width:887px;height:131px;color:white;line-height:20px;}
.news-details>.news .news-caption{text-decoration: none;color:white;}
.news-details>.news .news-caption>h1{font-size:18px;text-decoration: none;}
.news-details>.news .news-caption span{float:right;padding-left:22px;background:url("../images/191.png") 0 2px no-repeat;}
.news-details>.news:nth-of-type(2) .news-caption span{background:url("../images/192.jpg");display:inline-block;height:20px;}
.news-details>.news:nth-of-type(3) .news-caption span{background:url("../images/192.jpg");display:inline-block;height:20px;}
.news-details>.news .news-date{font-size:14px;margin-bottom:8px;font-style:italic}
.news-details>.news .news-info{font-size:14px;}

.news-details>.news>a>img:hover{border:3px solid white;}
.news-details>.news .news-caption span:hover{background-position: 0 -25px;}
.news-details>.news:nth-of-type(2) .news-caption span:hover{background:url("../images/192.jpg")}
.news-details>.news:nth-of-type(3) .news-caption span:hover{background:url("../images/192.jpg")}

.news-details>.more{padding:7px 65px;border:3px solid white;font-size:28px;color:white;background:none;margin:35px 0;}
.news-details>.more:hover{background: white;color:black;}
/*买买买，剁剁剁*/
.buy{background: url("../images/40.jpg") ;height:143px;border-top:5px solid gray;position: relative;z-index:2;display: flex;flex-direction: column;align-items: center;padding:80px 0;}
.buy>button:first-child{padding:10px 95px;border:3px solid #ffb033;background: #ffb033;font-size:26px;}
.buy>p{display: flex;justify-content: center;color:white;padding:10px 0;}
.buy>p>span{color:#ffc70e;}
.buy>p>a{color:#ffc70e;}
.buy>button:last-child{padding:10px 40px;border:2px solid #ffc70e;background: none;color:#ffc70e;margin-top: 16px;transition: .3s linear;}

.buy>button:first-child:hover{background: orange;}
.buy>button:last-child:hover{border-color:white;color:white}
/*页脚*/
footer{background:#202020;border-top:1px solid rgba(255,255,255,.15);height:284px;padding-top:40px;}
footer>div{width:980px;margin:0 auto;}
footer>div>div:nth-of-type(1){font-size: 14px;display:flex;align-items: center}
footer>div>div:nth-of-type(1)>a{color:#ccc;text-decoration: none;line-height: 21px;position:relative;padding-left:31px;margin-right:20px;}
footer>div>div:nth-of-type(1)>a>span{display:inline-block;width:24px;height:24px;background: url("../images/4.png");position:absolute;left:0;top:-2px;}
footer>div>div:nth-of-type(1)>a>span:nth-of-type(1){background-position: -96px 0;}

footer>div>div:nth-of-type(1)>a:hover{color:white;}

footer>div>div:nth-of-type(2){height:157px;margin-top:25px;border-bottom:1px solid rgba(255, 255, 255, 0.14902);padding-bottom:30px;display: flex;align-items: center;}
footer>div>div:nth-of-type(2)>a:nth-of-type(2){margin:34px 0 0 20px;}
footer>div>div:nth-of-type(2)>div{width:615px;height:137px;padding:20px 0 0 100px;color:#ccc;}
footer>div>div:nth-of-type(2)>div>p:nth-of-type(1)>a{color:#ccc;text-decoration: none;}
footer>div>div:nth-of-type(2)>div>p:nth-of-type(2){color:rgba(255,255,255,.5);font-size:12px;margin-top:12px;line-height:19px;}
footer>div>div:nth-of-type(2)>div>p:nth-of-type(2)>a{color:rgba(255,255,255,.5);text-decoration: none;}
footer>div>div:nth-of-type(2)>div>p:nth-of-type(3){padding-top:15px;}

footer>div>div:nth-of-type(2)>div>p:nth-of-type(2)>a:hover{color:white;}

footer>div>div:nth-of-type(3){height:38px;font-size:12px;text-align:center;color:rgba(255,255,255,.3);line-height: 19px;margin-top:10px;}