*{margin: 0;padding: 0;}
.h5_page{background: url("../images/page_bg.png");}
.h5_page_face{background:url("../images/face_bg.png") no-repeat;}
.h5_component_name_slogan{animation:rock .5s 1s;}
@keyframes rock{
	0%{transform: rotate(0)}
	20%{transform: rotate(-5deg)}
	40%{transform: rotate(5deg)}
	60%{transform: rotate(-5deg)}
	80%{transform: rotate(5deg)}
	100%{transform: rotate(0deg)}
}
.h5_component_name_caption{background: url("../images/page_caption_bg.png");width:283px;height:160px;text-align: center;line-height:140px;font-size:20px;color:white;}
.h5_component_name_back{animation: back 1.5s linear infinite;top:30px;}
@keyframes back{
	50%{top:20px;}
}