

/* 公共样式开始 */
*{margin:0;padding:0}
body,html{font-family: "MicroSoft YaHei";background:#f7f7f7}
.clear{clear:both}
a{text-decoration: none!important}
@media screen and (max-width:768px){
	body{background-color: rgb(229, 229, 229);}
	.container{max-width:1010px;}
	.container-fluid{padding:0}
	.container{padding:0}
	.row{margin:0;padding:0}
	[class*="col-"]{padding:0}
}
/* 公共样式结束 */
/* 导航开始 */
.nav-header{height:82px;background:#ffd52b;}
.nav-header .nav-left{display:flex;}
.nav-left ul{display:flex;list-style:none;padding:0;margin:0 10px;}
.nav-left ul a{font-weight:400;color:#300;margin-right: 1px;padding: 0 14px;text-align: center;line-height: 82px;display: block;font-size: 16.5px;color: #7A4624;height: 82px;border-bottom: 4px solid #ffd52b;}
.nav-left ul a:hover{border-bottom-color: #ffe36f;background: #ffe36f;text-decoration: none}
.nav-header .nav-right{display:flex;align-items:center;height:82px;}
.nav-header .nav-right img{width:38px;height:38px;margin-right:10px;}
.nav-header .nav-right a{font-size: 14px;line-height: 38px;text-decoration:none;color:#300;}

.xs-logo img{width:95px;height:31px}
.xs-ctrl{height:48px}
.xs-ctrl span{display: inline-block;width:26px;height:26px;margin:12px;margin-bottom:10px;background:url("../images/qiushi_iphone.png") no-repeat;background-size: 200px}
.xs-ctrl .add{background-position: -35px -4px!important}
.xs-ctrl span:last-of-type{background-position:0 -3px; position:relative; }
.xs-ctrl .user-ctrl{display:none;position: absolute;right: -27px;top:-12px;background: #fff;z-index: 999;width: 150px;margin: 48px 0 0;box-shadow: 0 2px 8px rgba(0,0,0,.5);} 
.xs-ctrl .user-ctrl div{padding:16px;line-height:16px;color:black;box-shadow: inset 0 -1px 0 #dedede;}
.xs-ctrl .user-ctrl a{color:black}
.xs-ctrl span:last-of-type:hover .user-ctrl{display:block}
.xs-nav{background:white;padding:6px 0}
.xs-nav>ul{display:flex!important;flex-wrap:wrap;list-style:none;padding:0;margin:0;width:100%;}
.xs-nav li{ display: block;float: left;width: 20%;height: 30px;line-height: 30px;text-align: center;background-image: url("../images/colline.png");background-repeat: no-repeat;background-position: right center;}.xs-nav a{color:black;text-decoration: none}
.xs-nav .noLine{background:none}
@media screen and (max-width:768px){
	.nav-header{height:48px;line-height:48px;background:#ffba15;margin-bottom:72px}
}
/* 导航结束 */

/* 主体开始 */
.main{padding-top:20px;padding-bottom:20px}
@media screen and (max-width:768px){
	.main{}
}
/* 主体结束 */

/* 主体左边开始 */
.content-left .article{background:white;padding:18px 20px;margin-bottom:15px}
.article-author{display:flex;align-items:center;font-size:14px;font-weight: 400;margin-bottom:17px}
.article-author .user-header img{width:35px;height:35px;border-radius: 35px;margin-right:10px;}
.article-author .user-name{color:#9b8878;text-decoration: none;white-space:nowrap}
.article-author .user-name:hover{color:black;}
.article-author .user-sex-icon{display:inline-block;width:32px;height:16px;line-height:16px;font-size:10px;padding-left:16px;color:white;background-size: cover}
.manIcon{background: url("../images/man.png");}
.womenIcon{background: url("../images/women.png");}
.article .atricle-text{font-size:16px;font-size: 16px;line-height: 1.8;word-wrap: break-word;color: #333;text-decoration: none;margin-bottom:10px;}
.article .comment-sum{margin:20px 0 10px;font-size:12px;color:#999}
.article .comment-sum a{color:#999;text-decoration: none}
.article .comment-sum a:hover{color:black;}
.article .comment-icon{margin:5px 0 0 8px}
.article .comment-icon a{display:inline-block;width:30px;height:30px;margin-right:20px}
.article .comment-icon a:nth-of-type(1){background:url("../images/funny.png")}
.article .comment-icon a:nth-of-type(2){background:url("../images/not_funny.png")}
.article .comment-icon a:nth-of-type(3){background:url("../images/comment.png")}
.article .share-icon{position:relative;}
.article .share-icon a{display:inline-block;width:24px;height:24px;margin-left:10px;background:url("../images/icongroup.png") no-repeat;}
.article .share-icon a:nth-of-type(1){background-position: 0 -79px}
.article .share-icon a:nth-of-type(2){background-position: 0 -151px}
.article .share-icon a:nth-of-type(3){background-position: 0 -127px}
.article .share-icon a:nth-of-type(4){background-position: 0 -103px}
.article .share-icon figure{display: none;position: absolute;width: 162px;margin: -250px 0 0;padding: 10px;background: #fff;border: 1px solid #dedede;box-shadow: 0 1px 1px rgba(0,0,0,.1);font-size: 12px;color: #999;text-align: center;line-height: 1.6;}
.article .share-icon a:nth-of-type(1):hover+figure{display:block}
.article .god-comment{display:flex;align-items:center;text-decoration: none;color:black;margin-top:15px;}
.article .god-comment .god{width:15px;height:15px;margin-right:8px;}
.article .god-comment .good{height:13px;margin:0 2px 0 4px}
.article .god-comment .user-comment{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.page{line-height:40px}
.page button{height:40px;padding:0 16px;border:none;background:white;margin-right:4px}
.page span{padding:0 8px 0 4px}
.page .activeBtn{background:#ffaa14;color:white}

@media screen and (max-width:768px){
	.comment-icon{width:100%}
	.comment-icon a:last-of-type{float:right!important}
	.page{display:flex;flex-wrap:wrap;justify-content:center}
	.page .next{display:block;width:100%;margin:12px 0 0}
}
/* 主体左边结束 */

/* 主体右边开始 */
.content-aside{padding:0;margin-left:-10px;font-size:12px;line-height: 160%}
.content-aside .one-tip{margin: 15px 0 20px}
.one-tip h3{margin: 0 0 15px;padding: 0 0 0 10px;font-size: 14px;font-weight: 700;border-left: 4px solid #fccb33}
.qiu-tip img{margin-right:10px;}
.qiu-tip p{margin:0;}

.content-aside .qiu-hot{display:flex;flex-wrap:wrap;justify-content:space-around;text-align: center} 
.qiu-hot span{display:inline-block;height:116px;overflow: hidden}
.qiu-hot img{width:146px;height:146px}
.qiu-hot a{color:#524d47;text-decoration: none}

.hot-talk .hot-talk-list{display:flex;flex-wrap:wrap;}
.hot-talk .hot-talk-list a{margin: 0 7px 7px 0;padding: 4px 7px;background: #fff;color:#6a5c4e;text-decoration: none}
.hot-talk .hot-talk-list a:hover{color:#000}
/* 主体右边结束 */

/* footer开始 */
footer{background:white}
.foot-nav{display:flex;padding-top:20px;border-bottom:1px solid #efefef;padding:20px 0}
.foot-nav ul{width:20%;list-style:none;padding:0;margin:0}
.foot-nav ul a{color:#666;text-decoration: none;}
.foot-nav ul a:hover{color:#300}
.foot-nav ul li:first-child{font-size:18px;}
.foot-nav ul li{line-height:1.8}
.foot-copyright{display:flex;flex-wrap:wrap;justify-content:center;text-align:center;padding:20px 0}
.foot-copyright a{color:#333;text-decoration: none}
.foot-copyright a:hover{color:#333}
.xs-foot-nav ul{list-style:none;display:flex;flex-wrap:wrap;justify-content:space-around}
.xs-foot-nav ul a{display:inline-block;text-decoration:none;color:black;}
.xs-foot-nav .xs-foot-nav-header li{width:25%;text-align: center;height:40px;line-height:40px;position:relative;z-index:2}
.xs-foot-nav .xs-foot-nav-header a:hover{border-bottom:2px #ff9715 solid;color:#ff9715}
.xs-foot-nav-list{position:relavite;padding:15px 0 5px;border-top:1px solid gray;margin-top:-9px;}
.xs-foot-nav-list li{width:45%;border:1px solid #ddd;border-radius: 2.5px;height:32px;line-height:35px;text-align: center;font-size:12px;margin-bottom:10px}
.xs-foot-nav-list ul:last-of-type li{border:none;width:auto;font-size:16px;width:32px;height:25px;}
.xs-foot-nav-list ul:last-of-type div{font-size:12px;color:#999}

.xs-foot-nav2 li{width:25%;text-align: center;background-image: url("../images/colline.png");background-repeat: no-repeat;background-position: right center;}
.xs-foot-nav2 li:last-of-type{background:none}
.xs-foot-nav2 ul{padding-bottom:15px;border-bottom:1px solid lightgray;}

.xs-copyright{text-align: center;color:#999;}
.xs-copyright ul{display:flex;justify-content:center;list-style:none;}
.xs-copyright ul a{margin:10px;color:#999;text-decoration: none}
@media screen and (max-width:768px){
	footer{background:none}
}
/* footer结束 */

/* 用户管理开始 */

.ctrl-user-header{position:relative;margin-bottom:20px;height:280px;background: url("../images/usercover.jpg") no-repeat;background-size:100% 220px;display:flex;}
.ctrl-user-header::before{content:"";display:block;overflow: hidden}
.ctrl-user-header .user-icon{position:relative;z-index:2;margin:32px 0 0 30px;width: 210px;height: 210px;padding: 8px;background: #fff;border: 1px solid #dedede;box-shadow: 0 2px 5px rgba(0,0,0,.1);}
.ctrl-user-header .username{margin:157px 0 0 50px;color:white}
.ctrl-user-header .user-nav{border:1px solid #dedede;border-top:none;background:white;list-style:none;display:flex;position:absolute;height:63px;top:220px;left:0;width:100%;justify-content:center;align-items:center;font-size:16px;}
.ctrl-user-header .user-nav a{padding:20px;color:#9b8878;font-weight: 700;cursor:pointer}
.ctrl-user-header .user-nav a:hover{color:black}
.nav-active{box-shadow: 0 -4px 0 #794627 inset}
.ctrl-left{padding:0;width:26%;}
.ctrl-tip{background:#fff;border:1px solid #e8e8e8;margin-bottom:15px;padding-bottom:14px}
.ctrl-tip h3{padding:14px 20px;font-size:14px;border-bottom:1px solid #e8e8e8;margin:0 0 14px;font-weight: 700}
.ctrl-tip ul{list-style:none;padding:0 20px;line-height: 2}
.ctrl-tip>div{padding:0 20px;margin-bottom:14px}
.ctrl-tip li{position:relative;}
.ctrl-tip li span{display: inline-block;position:absolute;left:58%}
.ctrl-right{width:69%;}
.home-one{background:#fff;padding:15px;display:flex;position:relative;margin-bottom:20px;color:#949494}
.home-one .time{width:130px;margin-right:30px;color:#d6d6d6}
.home-one .time span{position:absolute}
.time .month{font-size:35px;left:19px;top:12px;}
.time .gang{font-size:38px;left:56px;top:14px}
.time .date{font-size:24px;left:70px;top:32px;}
.home-one p{margin:14px 0;padding:0}
.home-one .username{color:#333;margin:0 3px}
.home-one .home-content{color:#666}
.home-one a{color:#949494}
.home-one .showtime:hover{color:#333}
.qiu-user img{width:60px;height:60px;border-radius: 60px;margin-right:10px}
.comment-right{width:100%;}
.comment-right .whos-comment{display:flex;align-items:center;justify-content:space-between;border-bottom:1px solid #e8e8e8;padding-bottom:6px}
.qiushi-delete{padding: 4px 8px 5px;margin-top: 2px;color: #c33;background-color: #fff;border: 1px solid #c33;font-size: 14px;border-radius: 2px;}
.bindOther{line-height:40px;margin-bottom:15px}
.bindOther a:first-child{color:white;display:inline-block;width:266px;height:40px;padding-left:78px;}
.bindOther:nth-of-type(1) a{background:url("../images/wechat.png")}
.bindOther:nth-of-type(2) a{background:url("../images/weibo.png")}
.bindOther:nth-of-type(3) a{background:url("../images/QQ.png")}
.bindOther:nth-of-type(4) a{background:url("../images/my_email.png")}
.bindOther a:last-child{background:none;margin-left:3px}

.hoverColor{color:#9b8878}
.hoverColor:hover{color:#300}

.changePwd{margin-bottom:14px;position:relative}
.changePwd input{position:absolute;left:100px;top:0}

.xs-icon{width:122px;height:122px;border-radius: 4px;padding:3px;border:1px solid #e6e4e4}
.xs-icon img{width:100%;height:100%}
.xs-username{color:#663107;font-size:16px}
.personal-tip{width:100%!important}
@media screen and (max-width:768px){
	.ctrl-container{margin-top:88px}
	.ctrl-user-header{background:none;display:flex;justify-content:center;align-items:center;background:white;}
	.user-nav{border:none!important;border-top:1px solid #e8e8e8!important;border-bottom:1px solid #e8e8e8!important;}
	.ctrl-left{width:100%}
	.ctrl-tip{padding:0;float:left;width:50%}
	.ctrl-tip h3{padding:5px 10px;margin:0}
	.ctrl-tip ul{padding:0 10px;margin:0}
	.ctrl-tip>div{padding:0 10px;margin:0}
	.ctrl-right{width:100%}
}
/* 用户管理结束 */

/* 投稿页面开始 */
.write{margin:20px auto;background:#fff;padding:30px}
.write .write-input{width:600px}
.write .write-input textarea{width:100%;resize:none;box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);border:1px solid #ccc;padding:10px}
.write .write-file{border:1px solid #ccc;background:#f9f9f9;color:#999;margin-top:-6px;margin-bottom:10px}
.write .write-file>div:not(.clear){padding:10px;display:flex;}
.write .write-submit button{padding:10px 30px;border:none;background:#7BB03E;color:#fff}
.write .write-submit span{color:#0099FF}
.write .write-tips{width:250px;}
.write .write-tips li{padding:20px 0;border-top:1px solid #efefef;list-style-position:inside}
@media screen and (max-width:768px){
	.write{margin-top:84px;padding:0}
	.write-input{width:100%!important;} 
	.write-input textarea{width:100%;border:none!important;box-shadow: none!important}
}
/* 投稿页面结束 */

/* 单条段子开始 */
.nextOrLast{display:flex;justify-content:space-around;align-items:center;margin:20px 0}
.nextOrLast .last,.savePage{width: 100px;height: 34px;color: #FB0;border: 1px solid #FB0;line-height: 34px;text-align: center;font-size: 14px;cursor: pointer;background:none}
.nextOrLast .next{width: 300px;height: 44px;color: #fff;text-align: center;background-color: #FB0;font-size: 16px;line-height: 44px;cursor: pointer;border:none}
.Comment{padding:0 20px;background:#fff;margin-top:-20px}
.godComment-head{margin:20px 0}
.godComment-head img{width:16px;height:15px;margin-right:10px}
.oneComment{display:flex;padding-bottom:18px}
.oneComment .user-head{width:38px;height:38px;border-radius: 38px;margin-right:10px}
.oneComment .article-author{margin:0;display:block}
.oneComment .like-img{height:13px;}
.oneComment .like-sum{font-size:12px;color:#b4b4b4}

.firstBig-block{display:flex;margin-top:15px;flex-wrap:wrap}
.firstBig span{font-size:33px;margin:0 7px 0;float:left;line-height:33px;}
.firstBig{position:relative;width:248px;height:120px;padding:20px;font-size:14px;float:left;background:white;margin:0 1px 1px;color:#666}
.firstBig:hover{color:#300}
.firstBig .hasImg{position:absolute;bottom:0;left:0;width:100%;padding:20px 0;text-align:center;text-shadow:#333 0 1px 0}
.firstBig img{position:absolute;width:248px;height:120px;left:0;top:0}

.general-comment{margin-top:20px;padding:10px 20px}
.general-comment>div:first-child{font-size: 18px;padding:10px 0}
.general-comment .oneComment{border-top:1px solid #f4f2ef;padding:10px 0}

.oneComment-footer h5{margin:15px 0;border-left:4px solid #fccb33;padding-left:10px}
@media screen and (max-width:768px){
	.nextOrLast .last,.savePage{width:76px;height:34px;}
	.nextOrLast .next{flex:1;margin:0 10px}
}
/* 单条段子结束 */