* {
    margin: 0;
    padding: 0;
}

body {
    background: skyblue;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif
}

.container {
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
}

table {
    width: 100%;
}

caption {
    text-align: center;
    position: relative
}

caption .selectType {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    list-style: none
}

.selected {
    background: skyblue
}

.table h1 {
    margin-top: 0;
}

.hide {
    display: none
}

.margin0 {
    margin: 0
}

.se {
    width: 100%;
    background: rgba(240, 173, 79, .5);
    margin: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
}

.fixed {
    position: fixed;
    top: 0;
    width: 80%;
    opacity: .7;
    z-index: 2
}

.buy {
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0px;
    padding-top: 20px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
}

.buy > div {
    width: 80%;
}

.buy > div span {
    color: red
}

.btnFixed {
    position: fixed;
    right: 0;
    bottom: 50px;
    display: block;
}

.buy .closeFix {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    line-height: 15px;
    font-size: 40px;
    color: red;
    border-radius: 20px;
    cursor: pointer
}

.buy .closeFix:hover {
    background: skyblue;
    color: white;
    border-color: black
}

.del {
    border-radius: 20px;
    cursor: pointer;
    color: red;
}

.del:hover {
    background: black;
    color: white
}

.red {
    color: red
}

.cc {
    position: fixed
}

